.modal_main {
  background-color: rgba(169, 169, 169, 0.8);
  user-select: none;
}

.modal_container {
  /* display: flex; */
  box-sizing: border-box;
  width: 600px;
  position: relative;
  z-index: 20;
  border: 2px solid black;
  border-radius: 10px;
}
.modal_container_add {
  /* display: flex; */
  box-sizing: border-box;
  /* width: 600px; */
  position: relative;
  z-index: 20;
  border: 2px solid black;
  border-radius: 10px;
}

.modal_header {
  height: 75px;
  background-color: ghostwhite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid black;
}
.modal_header_title {
  font-size: 22px;
  font-weight: bold;
}
.modal_header_close {
  font-size: 22px;
  border: 1px solid black;
  background-color: rgba(205, 92, 92, 0.411);
  width: 30px;
  height: 30px;
  border-radius: 8px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.modal_dialog {
  /* height: 200px; */
  background-color: white;
}
.modal_dialog_delete {
  /* height: 100px; */
  background-color: white;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.modal_dialog_delete_text {
  font-size: 20px;
}

.edit_form_first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.edit_form_second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.edit_form_third {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.input_style {
  margin-left: 5px;
  margin-right: 80px;
  font-size: 16px;
}

.modal_footer {
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid black;
  background-color: ghostwhite;
}

.modal_footer_delete {
  width: 100px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-weight: 600;
  border: 1px solid black;
  background-color: rgba(247, 0, 0, 0.74);
  cursor: pointer;
}

.modal_footer_save {
  width: 100px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-weight: 600;
  border: 1px solid black;
  background-color: rgba(144, 238, 144, 0.425);
  cursor: pointer;
}

.modal_footer_cancel {
  width: 100px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-weight: 600;
  border: 1px solid black;
  cursor: pointer;
}
.modal_footer_add {
  width: 100px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-weight: 600;
  border: 1px solid black;
  background-color: rgba(54, 169, 219, 0.425);
  cursor: pointer;
}
.form_style {
  display: flex;
  flex-direction: column;
}

.form_row {
  padding: 5px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  margin-left: 90px;
  font-weight: bold;
}

.validation_error {
  color: red;
  font-size: 14px;
  font-weight: bold;
}

.form_error_row {
  padding: 10px;
}
