.Table {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  overflow-y: auto;
}

table {
  border: 2px solid forestgreen;
  width: 900px;
  height: 200px;
  border-spacing: 5px;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}

.button_arrange {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
